body, html, #root, .key, .keyboard, .keyboardContainer {
  margin: 0pt;
  padding: 0pt;
}
#root {
  min-height: 100vh;
}

.key {
  cursor: pointer;
  border: 1px solid black;
}

span.i {
  font-size: 12pt
}

.isDragged {
  background-color: blue;
}

.isHovered {
  background-color: yellow;
}

.isSelected {
  background-color: grey;
}

#root, .keyboardContainer, .flex1 {
  display: flex;
  flex: 1;
}
.keyboard {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
}
.flex1 {
  width: 100%;
}
.vertical {
  flex-direction: column
}

.center {
  display: flex;
  align-items: center;
  justify-content: center
}

.rightPanel {
  display: block;
  width: 30vw;
  padding: 1rem 0;
}