body, html, #root {
  margin: 0pt;
  padding: 0pt;
}
#root {
  min-height: 100vh;
}

.key {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
}

.isDragged {
  background-color: blue;
}

.isHovered {
  background-color: yellow;
}

#root, .keyboardContainer, .flex1 {
  display: flex;
  flex: 1;
}
.flex1 {
  width: 100%;
}
.vertical {
  flex-direction: column
}

.keyboardContainer, .center {
  display: flex;
  align-items: center;
  justify-content: center
}

.rightPanel {
  display: block;
  width: 30vw;
  padding: 1rem 0;
}