.key {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
}

.isDragged {
  background-color: blue;
}

.isHovered {
  background-color: yellow;
}

.button {
  background-color: grey;
}

.button.selected {
  background-color: green;
}